body 
{
	padding: 0;
	margin: 0; 
	color: #3d3741;
	background-color: #f2f2f2;
	font-family: Georgia, serif, "Calibri";
}
h1{ text-align: center; }
hr{ width: 20%; }
ul{ list-style-type: none; }
input
{
	border: 0;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}
ul li
{	
	margin: 5px;
	float:left;
    clear:left;
}
/*ul li[class='tree__branch']::before{
	content: '—';
	margin: 0 10px;	
	display: inline-block;
	cursor: pointer;
}*/
input:hover{ cursor: pointer; }
ul li[class='tree__branch']:hover> input{ background-color:#84a6f9; }
.tree__node > input{ display: block; }
.tree__node > input[class='tree__object']:hover,
.tree__node > input[class='tree__array']:hover 
{
	background-color: #89a6f9;
}
.tree__node  input[class='tree__object']:hover ~ ul,
.tree__node  input[class='tree__array']:hover  ~ ul
{	
	opacity: .5;
}
.tree__object
{
	color: #eee;
	background-color: #222;
	display: inline-block;
}
.tree__array
{
	display: inline-block;
	background-color: #ff4500;
}
.tree__branch_value{
	color: #eee;
	background-color: #941;
}
.tree__branch_leaf_value{ background-color: #0d0; }
.navigator
{
	background-color: #ff0;
	display: inline-block;
}
.buttons-list
{
	position: fixed;
	bottom: 50px;
	right: 50px;
}
.btn
{	
	display: inline-block;
	padding: 1em 1.3em;
	border-radius: 5px;
	background-color: #d22;
	border-color: #fff;
	color: #fff;
	opacity: .7;
}
.btn:focus{ outline:0; }
.btn:hover
{	
	background-color: #fff;
	border-color: #d22;
	cursor: pointer;
	color: #d22;
	opacity: 1;
}
.addable
{
	background-color: #aea;
	box-shadow: 2px 2px black, -2px -2px black; 
}
.removable
{
	opacity: .7;
	box-shadow: 2px 2px #d22, -2px -2px #d22;
}
/*debug*/
.debug{ margin: 40px; }
.init_json{ display: inline-block;}