@import url('https://fonts.googleapis.com/css?family=Montserrat');
body
{
    font-family: 'Montserrat',Georgia, serif, 'Calibri';
    margin: 0;
    padding: 0;
    text-align: center;
    color: #3d3741;
    background-color: #f2f2f2;
}
h1
{
    text-align: center;
}
hr
{
    width: 20%;
}
ul
{
    list-style-type: none;
}
input
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
}
ul li
{
    float: left;
    clear: left;
    margin: 5px;
}
.tree
{
    min-width: 500px;
    padding: 2em;
}
.tree__object
{
    display: inline-block;
    color: #eee;
    background-color: #222;
}
.tree__array
{
    display: inline-block;
    background-color: #ff4500;
}
.tree__branch_value
{
    color: #eee;
    background-color: #941;
}
.tree__branch_leaf_value
{
    background-color: #0d0;
}
/* hovers */
input:hover
{
    cursor: pointer;
}
input[type='text']:focus
{
    outline: 0;
}
ul li[class='tree__branch']:hover > input
{
    background-color: #84a6f9;
}
.tree__node > input
{
    display: block;
}
.tree__node > .tree__object:hover,
.tree__node > .tree__array:hover
{
    background-color: #89a6f9;
}
.tree__node  .tree__object:hover ~ ul,
.tree__node  .tree__array:hover ~ ul
{
    opacity: .5;
}
/* tools buttons */
.buttons-list
{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.btn
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: .7em;
    display: inline-block;
    padding: .5em 1em;
    opacity: .7;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #d72;
}
.btn:focus
{
    outline: 0;
}
.btn:hover
{
    cursor: pointer;
    opacity: 1;
    border-color: #d72;
}
/* dynamic classes */
.pressed
{
    color: #d72;
    border: 2px solid #d72;
    background-color: #fff;
}
.editable
{
    color: #333;
    border: 2px dashed #444;
    background-color: #bebebe;
}
.branch_addable
{
    color: #000;
    border: 2px dashed #444;
    background-color: #afa;
}
.node_addable
{
    color: #000;
    border: 2px dashed #444;
    background-color: #afa;
}
.removable
{
    color: #fff;
    border: 2px dashed #444;
    background-color: #f55;
}
.navigator
{
    color: #000;
    border: 2px dashed #444;
    background-color: #ff0;
}
/* tooltip */
.tooltip
{
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext
{
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    visibility: hidden;
    width: 120px;
    margin-left: -60px;
    padding: 5px 0;
    text-align: center;
    opacity: .6;
    color: #fff;
    border-radius: 6px;
    background-color: #000;
}
.tooltip .tooltiptext::after
{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
.tooltip:hover .tooltiptext
{
    visibility: visible;
}
