body 
{
	padding: 0;
	margin: 0; 
	color: #3d3741;
	background-color: #f2f2f2;
	font-family: Georgia, serif, "Calibri";
}

h1{ text-align: center; }

hr{ width: 20%; }

ul{ list-style-type: none; }


input
{
	border: 0;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}
ul li
{	
	margin: 5px;
	float:left;
    clear:left;
}

ul li[class='tree__branch']::before{
	content: '—';
	margin: 0 10px;	
	display: inline-block;
	cursor: pointer;
}

ul li[class='tree__branch']:hover> input
{
	background-color:#84c6f9;
}

input:hover
{
	cursor: pointer;
}
.tree__node > input{display: block;}

.tree__node > input[class='tree__object']:hover,
.tree__node > input[class='tree__array']:hover 
{
	background-color: #84c6f9;
}
.tree__node > input[class='tree__object']:hover ~ *,
.tree__node > input[class='tree__array']:hover ~ *
{
	background-color: #bce0fc;
}
.tree__object
{
	color: #eee;
	background-color: #222;
	display: inline-block;
}
.tree__array
{
	display: inline-block;
	background-color: #ff4500;
}
.tree__branch_value{
	color: #eee;
	background-color: #941;
}
.tree__branch_leaf_value{ background-color: #0d0; }
.navigator
{
	background-color: #f1f;
	display: inline-block;
}
.buttons-list
{
	position: fixed;
	bottom: 50px;
	right: 50px;
}
.btn
{	
	display: inline-block;
	padding: 1em 1.3em;
	border-radius: 5px;
	background-color: #d22;
	color: #fff;
	opacity: .7;
}
.btn:hover
{
	cursor: pointer;
	opacity: 1;
}
/*debug*/
.debug
{
	margin: 40px;
}

.init_json{ display: inline-block;}